/* *{
    border: 1px black solid;
} */
/*------------- Generic -------------*/
html,
body{
    margin:0;
    padding: 0;
    height: 100%;
}

header,
footer{
    text-align: center;
}

main{
    display: flex;
    justify-content: space-around;
}

textarea{
    border-radius: 5px;
}

#sub_wrapper{
    border: black 1px solid;
    height: 200px;
}
/*------------- Button -------------*/
.btn_group{
    display: flex;
}

.language_btn{
    widows: 40px;
    height: 30px;
    border-radius: 5px;
}

.language_btn:last-child{
    margin-left: auto;
}

.language_btn:focus{
    background-color: grey;
    outline:0;
}

/*------------- footer -------------*/
#main-wrapper{
    width: 70%;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -80px;
}

footer,
.push {
  height: 80px;
}

/*------------- Message -------------*/
div p{
    margin: 0;
    height: 30px;
}

#invalid_input{
    color: red;
}













