/* *{
    border: 1px black solid;
} */

html,
body{
    margin:0;
    padding: 0;
    height: 100%;
}

#main-wrapper{
    width: 70%;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
}

header,
footer{
    text-align: center;
}

footer,
.push {
  height: 50px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.language_btn{
    widows: 40px;
    height: 30px;
    border-radius: 5px;
}

.language_btn:focus{
    background-color: grey;
    outline:0;
}













